astroid==1.6.6
backports.functools-lru-cache==1.6.1
certifi==2019.11.28
cffi==1.14.0
cheroot==8.3.0
click==7.1.2
colorama==0.4.1
configparser==4.0.2
cycler==0.10.0
Cython==0.29.14
enum34==1.1.6
Flask==1.1.2
Flask-SocketIO==4.3.0
futures==3.3.0
gevent==20.6.2
gevent-websocket==0.10.1
greenlet==0.4.16
isort==4.3.21
itsdangerous==1.1.0
jaraco.functools==2.0
Jinja2==2.11.2
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==2.2.5
mccabe==0.6.1
mkl-fft==1.0.6
more-itertools==5.0.0
numpy==1.16.6
olefile==0.46
pandas==0.24.2
Pillow==6.2.1
pycparser==2.20
pylint==1.9.5
pymssql==2.1.4
pyparsing==2.4.6
python-dateutil==2.8.1
python-engineio==3.13.0
python-socketio==4.6.0
pytz==2019.3
Rtree==0.8.3
scipy==0.19.1
Shapely==1.6.4.post1
singledispatch==3.4.0.3
six==1.14.0
TBB==2019.*
web.py==0.51
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.11.2
zope.event==4.4
zope.interface==5.1.0
